.bootstrap-tagsinput .tag {
    margin-right: 1px;
    background-color: rgb(19, 143, 143);
    padding: 2px 2px 3px 7px;
    border-radius: 5px;
    font-size: 12px;
}

.bootstrap-tagsinput .tag [data-role="remove"] {
    margin-left: 4px;
    cursor: pointer;
}
